  <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{{THEME_RESOURCE_URL }}assets/img/find_user.png" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        <a class="active-menu"  href="dashboard.php/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    
                    
                     <li>
                        <a  href="#"><i class="fa fa-desktop fa-1x"></i>Flexiload <span class="fa arrow"></span> </a>
						<ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/flexiload/add">Request Flexiload</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/flexiload/list/all">Flexiload History</a></li>
                            <li><a href="{{ baseUrl() }}/flexiload/client/all">Client History List</a></li>
                            <li><a href="{{ baseUrl() }}/flexiload/report">Report</a></li>                            
                            </ul>

                    </li>
                    
                             
                    
                     <li>
                        <a  href="#"><i class="fa fa-desktop fa-1x"></i>Bkash <span class="fa arrow"></span> </a>
			     <ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/bkash/add">Request</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/bkash/list/all">History</a></li>
                            <li><a href="{{ baseUrl() }}/bkah/client/all">Client History </a></li>
                            <li><a href="{{ baseUrl() }}/bkah/report"> Report</a></li>                            
                            </ul>

                    </li>
                    
                    
                    

                    <li>
                        <a  href="#"><i class="fa fa-desktop fa-1x"></i>Sms <span class="fa arrow"></span> </a>
			     <ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/sms/add">Request </a></li>                                                    
                            <li><a href="{{ baseUrl() }}/sms/list/all"> History</a></li>
                            <li><a href="{{ baseUrl() }}/sms/client/all">Client History List</a></li>
                            <li><a href="{{ baseUrl() }}/sms/report">Report</a></li>                            
                            </ul>

                    </li>

                    
                    
                   <li>
                        <a  href="#"><i class="fa fa-desktop fa-1x"></i>Group <span class="fa arrow"></span> </a>
			     <ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/group/add">Create Group </a></li>                                                    
                            <li><a href="{{ baseUrl() }}/group/list"> Group List</a></li>
                            <li><a href="{{ baseUrl() }}/group/flexi">Group Flexi</a></li>
                            <li><a href="{{ baseUrl() }}/group/sms">Group Sms</a></li>                            
                            <li><a href="{{ baseUrl() }}/sms/report">Report</a></li>                            
                            </ul>

                    </li>
<li>
                        <a  href="#"><i class="fa fa-bar-chart-o fa-1x"></i>Card <span class="fa arrow"></span> </a>
						<ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/card/buy">Buy Card</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/card/view">View Card</a></li>
                            </ul>

                    </li>
                       <li>
                              <a  href="#"><i class="fa fa-qrcode fa-1x"></i>User List <span class="fa arrow"></span> </a>
			     <ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/user/add">Add</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/user/list">List</a></li>
                            <li><a href="{{ baseUrl() }}/user/list/level1">Reseller1 List</a></li>
                            <li><a href="{{ baseUrl() }}/user/list/level2">Reseller2 List</a></li>
                            <li><a href="{{ baseUrl() }}/user/list/level3">Reseller3 List</a></li>
                            <li><a href="{{ baseUrl() }}/user/list/level4">Reseller4 List</a></li>
                            <li><a href="{{ baseUrl() }}/user/list/level5">Admin List</a></li>
                            
                            </ul>

                    </li>
  
            
                    
                                  <li>
                              <a  href="#"><i class="fa fa-qrcode fa-1x"></i>Address book <span class="fa arrow"></span> </a>
			     <ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/addressbook/add">Add</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/addressbook/list">List</a></li>
                            </ul>

                    </li>
  
                              

                    
                    <li>
                        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-1x"></i> Profile</a>
                    </li>
                    
                    <li>
                        <a  href="{{ baseUrl() }}/report"><i class="fa fa-qrcode fa-1x"></i> Report</a>
                    </li>
                
                     <li>
                        <a  href="{{ baseUrl() }}/oftware"><i class="fa fa-qrcode fa-1x"></i> Software</a>
                    </li>
                    
                     <li>
                        <a  href="{{ baseUrl() }}/recharge"><i class="fa fa-qrcode fa-1x"></i> Buy Credit</a>
                    </li>
                    
                    
                    <li>
                        <a  href="#"><i class="fa fa-bar-chart-o fa-1x"></i>Report <span class="fa arrow"></span> </a>
						<ul class="nav nav-second-level">
                            <li><a href="{{ baseUrl() }}/report">Report</a></li>                                                    
                            <li><a href="{{ baseUrl() }}/reportcurve">Report Curve</a></li>
                            </ul>
                    </li>
                 
                    
                           
       <li>
                        <a  href="#"><i class="fa fa-bar-chart-o fa-1x"></i>Calculator <span class="fa arrow"></span> </a>
			<ul class="nav nav-second-level">
                            
<li><form name="Calc" id="calc">
								<div class="formSep input-group input-group-sm">
									<input class="form-control" name="Input" type="text">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" name="clear" value="c" onclick="Calc.Input.value = ''">
											<i class="glyphicon glyphicon-remove"></i>
										</button>
									</span>
								</div>
								<div class="form-group">
									<input class="btn form-control btn-default input-sm" name="seven" value="7" onclick="Calc.Input.value += '7'" type="button">
									<input class="btn form-control btn-default input-sm" name="eight" value="8" onclick="Calc.Input.value += '8'" type="button">
									<input class="btn form-control btn-default input-sm" name="nine" value="9" onclick="Calc.Input.value += '9'" type="button">
									<input class="btn form-control btn-default input-sm" name="div" value="/" onclick="Calc.Input.value += ' / '" type="button">
								</div>
								<div class="form-group">
									<input class="btn form-control btn-default input-sm" name="four" value="4" onclick="Calc.Input.value += '4'" type="button">
									<input class="btn form-control btn-default input-sm" name="five" value="5" onclick="Calc.Input.value += '5'" type="button">
									<input class="btn form-control btn-default input-sm" name="six" value="6" onclick="Calc.Input.value += '6'" type="button">
									<input class="btn form-control btn-default input-sm" name="times" value="x" onclick="Calc.Input.value += ' * '" type="button">
								</div>
								<div class="form-group">
									<input class="btn form-control btn-default input-sm" name="one" value="1" onclick="Calc.Input.value += '1'" type="button">
									<input class="btn form-control btn-default input-sm" name="two" value="2" onclick="Calc.Input.value += '2'" type="button">
									<input class="btn form-control btn-default input-sm" name="three" value="3" onclick="Calc.Input.value += '3'" type="button">
									<input class="btn form-control btn-default input-sm" name="minus" value="-" onclick="Calc.Input.value += ' - '" type="button">
								</div>
								<div class="formSep form-group">
									<input class="btn form-control btn-default input-sm" name="dot" value="." onclick="Calc.Input.value += '.'" type="button">
									<input class="btn form-control btn-default input-sm" name="zero" value="0" onclick="Calc.Input.value += '0'" type="button">
									<input class="btn form-control btn-default input-sm" name="DoIt" value="=" onclick="Calc.Input.value = Math.round( eval(Calc.Input.value) * 1000)/1000" type="button">
									<input class="btn form-control btn-default input-sm" name="plus" value="+" onclick="Calc.Input.value += ' + '" type="button">
								</div>
							
							</form>
</li>

                            </ul>
                    </li>
                 
                    
                    
                                                          
                    
                    
                   <li>
                        <a  href="logout.html"><i class="fa fa-square-o fa-2x"></i> Logout</a>
                    </li>	
                </ul>
               
            </div>


                    
        </nav>  
  

        <!-- /. NAV SIDE  -->
		<div id="page-wrapper" >
<div id="page-inner">

 
   
   <div class="row">
                    <div class="col-md-12">
                     <h2>Admin Dashboard</h2>   
                        <h5>Welcome Jhon Deo , Love to see you back. </h5>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr>